<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bank.view.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>TermProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlets.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>servlets.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>servlets.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServCus</display-name>
    <servlet-name>LoginServCus</servlet-name>
    <servlet-class>servlets.LoginServCus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServCus</servlet-name>
    <url-pattern>/LoginServCus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CusEdit</display-name>
    <servlet-name>CusEdit</servlet-name>
    <servlet-class>servlets.CusEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusEdit</servlet-name>
    <url-pattern>/CusEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfers</display-name>
    <servlet-name>Transfers</servlet-name>
    <servlet-class>servlets.Transfers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfers</servlet-name>
    <url-pattern>/Transfers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpHome</display-name>
    <servlet-name>EmpHome</servlet-name>
    <servlet-class>servlets.EmpHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpHome</servlet-name>
    <url-pattern>/EmpHome</url-pattern>
  </servlet-mapping>
</web-app>